/* Navigation Bar */

#navbar{
    flex-direction: column;
    width:100%;
    background-size:contain;
    /* width:238.7%; */
}

#navbar input[type = "text"]{
    top:1rem;
    right:1rem;
    width:13.625rem;
}
#navbar label img{
    top:1.16rem;
    right:1rem;
    height: 2.2752rem;
}
#navbar ul{
    justify-content: space-evenly;
    margin:0;
    padding: 0;;

}
#navbar li{
    font-size: 1rem;
    padding:0 0.1rem;
    margin:0;
    padding-bottom:12px;
}
#navbar::before{
    /* width:100%; */
    background-size:contain;
}
/* Home */
#navbar #logo img{
    align-self: flex-start;
}



#home{
    /* width:100%; */
    padding:3px 10px;
    margin-bottom:45px;
    height:25.67rem;
}
#home::before{
    /* height:86%; */
    height:39.9rem;
}
#home h1{
    font-size: 3rem;
}
#home p{
    font-size: 1rem;
    padding:3px 0px;
}






/* Services */


#service{
    /* position:relative; */
    flex-direction: column;
    width:100%;
}
.box{
   width:85%;
   margin:1rem auto;
}




/* Clients */

#client-container{
    margin-top: 2.5rem;
}

#client{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
#client img{
    height:4rem;
    padding:0 0.5rem;
}
#client h1{
    font-size:2.8rem;
}


/* Contact Us */

#contact input{
    width:18rem;
    font-size:1rem;
    height:1.5rem;
}
#contact textarea{
    width:18rem;
    font-size:1rem;
}

